@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
  overflow-y: scroll;
  background: #fff;
}

body {
  font: 16pt "Inconsolata", monospace;
  color: black;
  font-weight: 400;
}

#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}
@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .logo {
    /*       margin-left: 5px; */
  }
}

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  #navbar ul {
    display: none;
  }
}
@media (orientation: landscape) {
  #navbar ul {
    display: inline-block;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#header {
  height: 100%;
  margin: 0;
  padding-top: 10%;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 30pt;
  margin-bottom: 15px;
}

#subtitle {
  text-align: center;
  margin: 0;
  font-size: 14pt;
  font-weight: 900;
  width: 50%;
  display: none;
}

#table {
  display: table;
  width: 100%;
  height: 100%;
  /* background-color: #e5e5e5; */
}

#centeralign {
  display: table-cell;
  vertical-align: middle;
}

#command-line {
  max-width: 28em;
  padding: 1em;
  margin: 5% 0;
}
a {
  color: black;
}
a:hover,
a:focus {
  background: black;
  color: #fff;
}
h2 {
  font-size: 1em;
  font-weight: 400;
}
p {
  margin-bottom: 2em;
}
abbr {
  cursor: help;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 1em 0 0;
}
span {
  display: block;
  line-height: 1;
}

kbd {
  font-family: "Inconsolata", monospace;
  border: 1px solid #999;
  text-transform: uppercase;
  padding: 0 0.2em;
}
input[type="text"] {
  font: 16pt "Inconsolata", monospace;
  max-width: 10em;
  border: none;
  font-family: inherit;
  background: #fff;
  padding: 0 0.5em;
}
input[type="text"]:focus {
  font: 16pt "Inconsolata", monospace;
  background: #fff;
  color: #000;
  outline: none;
}
.command {
  display: none;
  max-width: 20em;
  color: black;
  font-weight: 700;
  margin: 2em 0;
}

section {
  display: none;
}
.open {
  display: block;
}

#analysis {
  font: 12pt "Inconsolata", monospace;
  padding: 10%;
  text-align: center;
  width: 80%;
}
