<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />

    <title>Explore</title>
</head>

<body>
    <!-- Navbar portion of the web application -->
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('explore') }}">Explore</a></li>
            </ul>
        </div>
    </nav>

    <!-- The header portion of the web application -->
    <div id="header">
        <div id="table">
            <div id="centeralign">
                <h1>Explore SQLite Database</h1>
                <p id="subtitle">Create your own queries</p>
            </div>
        </div>
    </div>

    {% block mainContent %} {% endblock %}

    <script src="../static/script.js"></script>
</body>
</body>

</html>