{% extends 'index.html' %}

{% block help %}

<h2><span>&raquo;help</span></h2>
<p>
  <span>Type help + <kbd>Enter</kbd></span>
</p>
<ul>
  <li>'home' -- To return to the homescreen</li>
  <li>'help' -- Displays this list</li>
  <li>'mkdir' -- Creating a file in the database</li>
  <li>'ls' -- Listing contents of a directory</li>
  <li>'cat' -- displays this contents of a file</li>
  <li>'put' -- Inserts a new file in the database</li>
  <li>'rm' -- Deletes a new file in the database</li>
  <li>'gpl' -- Obtains the partition location</li>
  <li>'readPartition' -- Reads the partition based on location</li>
</ul>

{% endblock %}