<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/styles.css" />

  <title>HDFS Emulation</title>
</head>

<body>
  <!-- Navbar portion of the web application -->
  <nav id="navbar" class="">
    <div class="nav-wrapper">
      <ul id="menu">
        <li><a href="{{ url_for('index') }}">Firebase</a></li>
        <li><a href="{{ url_for('table') }}">SQL</a></li>
        <li><a href="{{ url_for('search') }}">Analytics</a></li>
      </ul>
    </div>
  </nav>

  <!-- The header portion of the web application -->
  <div id="header">
    <div id="table">
      <div id="centeralign">
        <h1>HDFS Emulation</h1>
        <p id="subtitle">See where data is partitioned and stored</p>
      </div>
    </div>
  </div>

  <!-- The command line portion of the web application -->
  <div id="command-line">
    <section id="home">
      <p><span>Type 'help' + <kbd>Enter</kbd> -- for available commands.</span>
      </p>
    </section>

    {% block mkdir %} {% endblock %}

    {% block ls %} {% endblock %}

    {% block cat %} {% endblock %}
    
    {% block put %} {% endblock %}

    {% block rm %} {% endblock %}

    {% block gpl %} {% endblock %}

    {% block partition %} {% endblock %}

    <section id="error">
      <p>Command not found!</p>
      <p></p>
      <p>
        <span>Type 'help' + <kbd>Enter</kbd> -- for available commands.</span>
      </p>
    </section>

    {% block help %} {% endblock %}
    
    <!-- <section id="help">
      <h2><span>&raquo;Help</span></h2>
      <p>
        <span>Type help + <kbd>Enter</kbd></span>
      </p>
      <ul>
        <li>'home' -- To return to the homescreen</li>
        <li>'help' -- Displays this list</li>
        <li>'mkdir' -- Creating a file in the database</li>
        <li>'ls' -- Listing contents of a directory</li>
        <li>'cat' -- displays this contents of a file</li>
        <li>'put' -- Inserts a new file in the database</li>
        <li>'rm' -- Deletes a new file in the database</li>
        <li>'gpl' -- Obtains the partition location</li>
        <li>'readPartition' -- Reads the partition based on location</li>
      </ul>
    </section> -->
    <span class="command">HDFS-user:/$<input name="command" id="command" type="text" /></span>
  </div>

  <script src="../static/script.js"></script>
</body>
</body>

</html>