<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />

    <title>Data Analysis</title>
</head>

<body>
    <!-- Navbar portion of the web application -->
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('explore') }}">Explore</a></li>
            </ul>
        </div>
    </nav>

    <!-- The header portion of the web application -->
    <div id="header">
        <div id="table">
            <div id="centeralign">
                <h1>Data Analysis and Search</h1>
                <p id="subtitle">Visualize and interact with data</p>
            </div>
        </div>
    </div>

    <div id="analysis">
        <p>
            The first plot shows how drastically there are dips and rises within the market monthly for all 
        </p>
        <img src="../static/assets/monthly_profit.jpeg">
        <p>
            Looking at the segmentation of the customers is not enough, we must know the monthly profit of each...
        </p>
        <img src="../static/assets/quantity_sold.jpeg">
        <p>
            Here we show...
        </p>
        <img src="../static/assets/customer_segmentation.jpeg">

    </div>

    <script src="../static/script.js"></script>
</body>
</body>

</html>